<!-- _includes/navbar.html -->
<nav>
  <ul>
    {% for page in site.pages %}
      {% if page.title and page.nav_exclude != true %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}

    <li id="statusContainer">
      <span id="statusMessage">Signed out.</span>
      <!-- GIS onload div -->
      <div id="g_id_onload"
		 data-client_id="174513512206-jh0l34tmq7bc4p9it8ihjj066jp9fen3.apps.googleusercontent.com"
           data-login_uri="https://messinground.github.io"
           data-auto_prompt="false"
           data-callback="handleCredentialResponse">
      </div>
      <!-- GIS sign-in button -->
      <div class="g_id_signin"
           data-type="standard"
           data-size="large"
           data-theme="outline"
           data-text="signin_with"
           data-shape="rectangular"
           data-logo_alignment="left">
      </div>
      <!-- Sign out button will be controlled by JS -->
      <button id="signOutBtn" style="display:none;" onclick="handleSignOutClick()">Sign Out</button>
    </li>

  </ul>
</nav>
